<a href="https://colab.research.google.com/github/Danjstr/AIM-5001/blob/master/%22D_Strauss_W2_assn%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import files
uploaded = files.upload()

Saving cars-sample35.txt to cars-sample35.txt

In [4]:
import pandas as pd
df = pd.read_csv('cars-sample35.txt')
print (df)

     high high.1      2     4    med   low  unacc
0    high   high      4  more  small  high    acc
1    high   high      4  more    big   low  unacc
2    high    low      2  more    big  high    acc
3   vhigh    low      3     2    med   med  unacc
4     low   high      2     2  small   low  unacc
5     med    med      4  more    med  high  vgood
6     low    low      3     2    big   med  unacc
7   vhigh    low      2     2  small   low  unacc
8   vhigh   high      4     4    med   low  unacc
9     low    low      2     2    med   med  unacc
10  vhigh    low      4  more  small  high    acc
11   high    low      2     4    big   med    acc
12    low  vhigh      3  more    big   low  unacc
13   high    low  5more     2    big   med  unacc
14  vhigh   high      2  more    med  high  unacc
15    med    med      2     2  small   low  unacc
16   high    low  5more     4    med  high    acc
17    low    low      3  more    med  high  vgood
18    low    low      2     2    big   med  unacc
19    med   high      4     2    big  high  unacc
20    low    low      2     2  small  high  unacc
21  vhigh   high  5more     4    med   med  unacc
22    med  vhigh      2     2    big   low  unacc
23    low  vhigh      4     4    big   low  unacc
24  vhigh    low      3  more    big   low  unacc
25    med  vhigh      3     4  small   low  unacc
26   high   high      3     4    med   med  unacc
27    low   high  5more     2    big   low  unacc
28    med   high  5more     2    med   med  unacc
29   high    low      3     4    med  high    acc
30   high  vhigh  5more     4    med   med  unacc
31    low    low  5more     2    med   low  unacc
32  vhigh  vhigh      4     2    big  high  unacc
33   high    low      3     2    big  high  unacc

Problem 1:(5 Points) Your first task is to read the file again and extract these seven attributes from each line of the file and
create seven distinct Python list objects comprised solely of the values you extracted for a given attribute. 

Answer 1: Provided below are the codes to generat seven distinct lists for each column.

In [5]:
first_column = list(df.iloc[:, 0])
print(first_column)

['high', 'high', 'high', 'vhigh', 'low', 'med', 'low', 'vhigh', 'vhigh', 'low', 'vhigh', 'high', 'low', 'high', 'vhigh', 'med', 'high', 'low', 'low', 'med', 'low', 'vhigh', 'med', 'low', 'vhigh', 'med', 'high', 'low', 'med', 'high', 'high', 'low', 'vhigh', 'high']

In [6]:
second_column = list(df.iloc[:, 1])
print(second_column)

['high', 'high', 'low', 'low', 'high', 'med', 'low', 'low', 'high', 'low', 'low', 'low', 'vhigh', 'low', 'high', 'med', 'low', 'low', 'low', 'high', 'low', 'high', 'vhigh', 'vhigh', 'low', 'vhigh', 'high', 'high', 'high', 'low', 'vhigh', 'low', 'vhigh', 'low']

In [7]:
third_column = list(df.iloc[:, 2])
print(third_column)

['4', '4', '2', '3', '2', '4', '3', '2', '4', '2', '4', '2', '3', '5more', '2', '2', '5more', '3', '2', '4', '2', '5more', '2', '4', '3', '3', '3', '5more', '5more', '3', '5more', '5more', '4', '3']

In [8]:
fourth_column = list(df.iloc[:, 3])
print(fourth_column)

['more', 'more', 'more', '2', '2', 'more', '2', '2', '4', '2', 'more', '4', 'more', '2', 'more', '2', '4', 'more', '2', '2', '2', '4', '2', '4', 'more', '4', '4', '2', '2', '4', '4', '2', '2', '2']

In [9]:
fifth_column = list(df.iloc[:, 4])
print(fifth_column)

['small', 'big', 'big', 'med', 'small', 'med', 'big', 'small', 'med', 'med', 'small', 'big', 'big', 'big', 'med', 'small', 'med', 'med', 'big', 'big', 'small', 'med', 'big', 'big', 'big', 'small', 'med', 'big', 'med', 'med', 'med', 'med', 'big', 'big']

In [10]:
sixth_column = list(df.iloc[:, 5])
print(sixth_column)

['high', 'low', 'high', 'med', 'low', 'high', 'med', 'low', 'low', 'med', 'high', 'med', 'low', 'med', 'high', 'low', 'high', 'high', 'med', 'high', 'high', 'med', 'low', 'low', 'low', 'low', 'med', 'low', 'med', 'high', 'med', 'low', 'high', 'high']

In [11]:
seventh_column = list(df.iloc[:, 6])
print(seventh_column)

['acc', 'unacc', 'acc', 'unacc', 'unacc', 'vgood', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'vgood', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'unacc', 'acc', 'unacc', 'unacc', 'unacc', 'unacc']

Problem 2:(5 Points) Your second task is to find the list index values of each automobile having a “price” rating of "med".

Answer 2: The list index of of each automobile with a price rating of 0 are - 5,15,19,22,25,28

In [12]:
first_column_df = (df.iloc[:, 0])
print(first_column_df)
print(first_column_df =='med')

0      high
1      high
2      high
3     vhigh
4       low
5       med
6       low
7     vhigh
8     vhigh
9       low
10    vhigh
11     high
12      low
13     high
14    vhigh
15      med
16     high
17      low
18      low
19      med
20      low
21    vhigh
22      med
23      low
24    vhigh
25      med
26     high
27      low
28      med
29     high
30     high
31      low
32    vhigh
33     high
Name: high, dtype: object
0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19     True
20    False
21    False
22     True
23    False
24    False
25     True
26    False
27    False
28     True
29    False
30    False
31    False
32    False
33    False
Name: high, dtype: bool

Question 3: (5 Points) Your third task is to find the "number of passengers" value for each auto having a "price" value of "med".
Create a new list to store your findings and be sure to print your results.

Answer 3: The passenger values for the following indexes are 
Index 5-more

Index 15-Value 2

Index 19-Value 2

Index 22-Value 2

Index 25-Value 4

Index 28-Value 2

In [13]:
fourth_column_df = (df.iloc[:, 3])
print(fourth_column_df)
print(first_column_df =='med')

0     more
1     more
2     more
3        2
4        2
5     more
6        2
7        2
8        4
9        2
10    more
11       4
12    more
13       2
14    more
15       2
16       4
17    more
18       2
19       2
20       2
21       4
22       2
23       4
24    more
25       4
26       4
27       2
28       2
29       4
30       4
31       2
32       2
33       2
Name: 4, dtype: object
0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19     True
20    False
21    False
22     True
23    False
24    False
25     True
26    False
27    False
28     True
29    False
30    False
31    False
32    False
33    False
Name: high, dtype: bool

Question 4:(5 Points) Your fourth task is to find the index value for each automobile having a “price” value of "high" and a “maintenance” value that is not "low". Create a new list to store your findings and be sure to print your results.

Answer 4: The indexs that have a price value of high and a maintanance value that is not low are Index 0, Index 1, index 26, Index 30.

In [14]:
print(first_column_df =='high')
second_column_df = (df.iloc[:, 1])
print(second_column_df)

0      True
1      True
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13     True
14    False
15    False
16     True
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26     True
27    False
28    False
29     True
30     True
31    False
32    False
33     True
Name: high, dtype: bool
0      high
1      high
2       low
3       low
4      high
5       med
6       low
7       low
8      high
9       low
10      low
11      low
12    vhigh
13      low
14     high
15      med
16      low
17      low
18      low
19     high
20      low
21     high
22    vhigh
23    vhigh
24      low
25    vhigh
26     high
27     high
28     high
29      low
30    vhigh
31      low
32    vhigh
33      low
Name: high.1, dtype: object

Question 5:(5 Points) Your fifth task is to find the index value for each auto having 2 doors and a luggage value of "big". Create a
new list to store your findings and be sure to print your results.

Ansewr 5: The indexs for vehicles that have two doors and a luggage size of big are Index 2, Index 11, index 18, Index 20.

In [15]:
third_column_df = (df.iloc[:, 2])
print(third_column_df =='2')
fifth_column_df = (df.iloc[:, 4])
print(fifth_column_df=='big')

0     False
1     False
2      True
3     False
4      True
5     False
6     False
7      True
8     False
9      True
10    False
11     True
12    False
13    False
14     True
15     True
16    False
17    False
18     True
19    False
20     True
21    False
22     True
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
Name: 2, dtype: bool
0     False
1      True
2      True
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11     True
12     True
13     True
14    False
15    False
16    False
17    False
18     True
19     True
20    False
21    False
22     True
23     True
24     True
25    False
26    False
27     True
28    False
29    False
30    False
31    False
32     True
33     True
Name: med, dtype: bool

Question 6:(5 Points) Finally, create a new list containing the only the integer equivalents of the doors values. Keep in mind that
the lists you have created thus far are composed solely of strings. If you find any values of '5more' in your list,
convert them to a '5'. After converting the '5more' values to '5', convert all of the items in your list to their numeric
equivalent and calculate the average number of doors across all 35 autos using whichever of Python's built in
functions you require. Print your result

Answer 6: The average number doors acroos all Auto's is 3.26.

In [16]:
third_column_list = list(df.iloc[:, 2])
print(third_column_list)
third_column_list[13]='5'
third_column_list[16]='5'
third_column_list[21]='5'
third_column_list[27]='5'
third_column_list[28]='5'
third_column_list[30]='5'
third_column_list[31]='5'
print(third_column_list)

['4', '4', '2', '3', '2', '4', '3', '2', '4', '2', '4', '2', '3', '5more', '2', '2', '5more', '3', '2', '4', '2', '5more', '2', '4', '3', '3', '3', '5more', '5more', '3', '5more', '5more', '4', '3']
['4', '4', '2', '3', '2', '4', '3', '2', '4', '2', '4', '2', '3', '5', '2', '2', '5', '3', '2', '4', '2', '5', '2', '4', '3', '3', '3', '5', '5', '3', '5', '5', '4', '3']

In [17]:
pd.to_numeric(third_column_list)

array([4, 4, 2, 3, 2, 4, 3, 2, 4, 2, 4, 2, 3, 5, 2, 2, 5, 3, 2, 4, 2, 5,
       2, 4, 3, 3, 3, 5, 5, 3, 5, 5, 4, 3])

In [18]:
sum(pd.to_numeric(third_column_list))/35

3.257142857142857