<a href="https://colab.research.google.com/github/Danjstr/AIM-5001/blob/master/D_Strauss_W8_assn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import regular expresions
import re
#Import Pandas as pd
import pandas as pd
# Save our string as text
text ='''555-1239Moe Szyslak(636) 555-0113Burns, C. Montgomery555 -6542Rev. Timothy Lovejoy555 89 04Ned Flanders636-555-3226Simpson, Homer5553642Dr. Julius Hibbert'''

1. We are compiling the pattern of our regular expression. All names start with a Capital letter [A-Z]. Plus any other letters in the name, commas, and or periods [a-zA-Z\s,.]+. Next, we show the results in a pandas dataframe so it is easier to read than with a normal print.

In [2]:
#Compile The pattern for our regular expression.
pattern=re.compile('[A-Z][a-zA-Z\s\,\.]+')
# First names are capitalized [A-Z]
# We are including , and . in peoples names [a-zA-Z\s\,\.]

#Create the variable Simpson_char with our text passed into it with our regular expression.
Simpson_char = pattern.findall(text)
#Turn the result into a pandas dataframe then show it.
Simp_char=pd.DataFrame(Simpson_char)
Simp_char

                      0
0           Moe Szyslak
1  Burns, C. Montgomery
2  Rev. Timothy Lovejoy
3          Ned Flanders
4        Simpson, Homer
5    Dr. Julius Hibbert

2a. Use your regex skills to rearrange the vector so that all elements conform to the standard “firstname lastname”, preserving any titles (e.g., “Rev.”, “Dr.”, etc) or middle/second names.

In [3]:
#I was having some difficulty with this one.

2b. We create an empty dataframe. Then pass the boolean search of if our character names contain DR. or Rev. into the first column of the dataframe. While passing the names themselves into the second column of the data frame for comparison. Then we show the results.

In [4]:
#Create an empty dataframe
df = pd.DataFrame()
#Turn our regular expression of our text into a pandas series called Titles
Titles = pd.Series(Simpson_char)
#Make the boolean search for contains Dr. or Rev the first column of our dataframe
df[0]=Titles.str.contains('Dr.|Rev.')
#Make the character the second column of the dataframe
df[1]=Titles
#Show them side by side
df

       0                     1
0  False           Moe Szyslak
1  False  Burns, C. Montgomery
2   True  Rev. Timothy Lovejoy
3  False          Ned Flanders
4  False        Simpson, Homer
5   True    Dr. Julius Hibbert

2c. We create another empty dataframe. Then pass the boolean search of if we have middle names into the first column of the dataframe. While passing the names themselves into the second column of the data frame for comparison. Then we show the results.

In [5]:
#Create an empty dataframe
df1 = pd.DataFrame()
#Make the boolean search for if a character has a middle name the first column of our dataframe
df1[0]=Titles.str.contains(r' [A-z]{1}\. ')
#Make the character the second column of the dataframe
df1[1]=Simpson_char
#Show them side by side
df1

       0                     1
0  False           Moe Szyslak
1   True  Burns, C. Montgomery
2  False  Rev. Timothy Lovejoy
3  False          Ned Flanders
4  False        Simpson, Homer
5  False    Dr. Julius Hibbert

3. We pass the Html code string into the variable html. Then compile our regular expression looking for one or more lowercase letters between < and >. We pass our sting into our regular expression and show the results.

Problem: <.+> Won't work because it matches any character one or more times between < and >. This gives us the entire sting as our return instead of just the title part of the string.

In [6]:
# Save our html string as html
html = '<title>+++BREAKING NEWS+++<title>'

# compile the pattern of all letters between a and z between < and >
reg = re.compile('<[a-z]+>')

# find all matches
Answer = reg.findall(html)

# print
Answer

['<title>', '<title>']

4. We will select numbers between 0 and 9 that have exponents^, parentheses(), multiplication*, addition+, subtraction- and equal signs= from the string. We will take one or more+ of them to ensure the results include the entire equation in our returned value.

Problem: “[^0-9=+*()]+” This can't work because [^0-9] means not in between 0 and 9. The ^ needs to be escaped and moved after the integers so it will function as an exponent sign. Also, we should include the order of operations to make sure we are grabbing all parts of the equation from the string.

In [7]:
# pass the equation in the string format into the variable string
string = '(5-3)^2=5^2-2*5*3+3^2'
#Find all numbers between 0 and 9 and  1 or more calculation signs, save it as reg
reg = re.compile('[0-9\^()*+-=]+')
#Show the results
reg.findall(string)

['(5-3)^2=5^2-2*5*3+3^2']